@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/static/Raleway-ExtraLight.ttf');
}
@font-face {
    font-family: 'Relaway-s';
    src: url('/fonts/Raleway/static/Raleway-Black.ttf');
}
@font-face {
    font-family: 'Montserrat';
    src: url('/fonts/Montserrat/static/Montserrat-Regular.ttf');
}
* {
    box-sizing: border-box;
    font-family: 'Raleway';
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: 0;
    background-color: white;
}

.header {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 20px;
    color: yellow;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 17vw;
}

.header nav a {
    color: #e6cf03;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 15px;
    font-weight: 650;
    transition: background-color 0.2s ease, color 0.2s ease;
    border-radius: 10px;
}

.header nav .nav-item-with-submenu {
    position: relative;
    display: flex;
    align-items: center;
}

.header nav .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffe500;
    font-size: 12px;
    font-weight: 650;
    border-radius: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 0;
    min-width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header nav .submenu li {
    margin: 0;
    padding: 0;
}

.header nav .submenu li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 15px 20px;
    text-align: center;
    transition: background-color 0.3s ease;
    border-radius: 0;
}

.header nav .nav-item-with-submenu:hover .submenu {
    display: block;
}

.header nav .submenu li a:hover {
    background-color: #d4b800;
    border-radius: 0;
}

.header nav a:hover {
    color: #333;
    background-color: #ffe500;
}

.header nav .nav-item-with-submenu:hover #link-about {
    color: #333;
    background-color: #ffe500;
}

.header img {
    padding-left: 19vw;
    height: 35px;
    width: auto;
}

#Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    width: 100%;
    height: 90vh;
}

#Home .background img {
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#Home .home-content {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: center;
}

#Home .home-content h1 {
    font-size: 14px;
    margin: 0;
    font-weight: 0;
    letter-spacing: 14px;
    text-align: center;

}

#Home .home-content h2 {
    font-size: 8px;
    font-weight: 0;
    padding: 15px 0;
    letter-spacing: 5.2px;
    padding-left: 30px;
    text-align: center;
}

#Home .home-content a {
    text-decoration: none;
    color: #333;
    background-color: #ffe500;
    padding: 10px 25px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;
    transition: 0.3s ease-in-out;
}

#Home .home-content a:hover {
    background-color: #d4b800;
}

#Home .arrow,
.arrow:before {
    position: absolute;
    left: 50%;
}

.arrow {
    width: 20px;
    height: 20px;
    bottom: 0px;
    margin-left: -20px;
    border-left: none;
    border-top: none;
    border-right: 2px #fff solid;
    border-bottom: 2px #fff solid;
    transform: rotate(45deg);
    top: 35rem;
}

.arrow:before {
    content: '';
    width: 10px;
    height: 10px;
    top: 50%;
    margin: -10px 0 0 -10px;
    border-left: none;
    border-top: none;
    border-right: 1px #fff solid;
    border-bottom: 1px #fff solid;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: arrow;
}

@keyframes arrow {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0;
        transform: translate(-10px, -10px);
    }
}

#About-Us {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: white;
    height: 70vh;
}

#About-Us .content-about {
    max-width: 600px;
    text-align: center;
}

#About-Us .content-about img {
    height: 110%;
    width: auto;
    margin-bottom: 60px;
}

#About-Us .content-about p {
    font-size: 17px;
    line-height: 2;
    color: #000;
}

#Our-Services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: #f9f9f9;
    width: 100vw;
    text-align: center;
}

#Our-Services .content-services .top img {
    margin-bottom: 10px;
    margin-top: 20px;
}

#Our-Services .content-services .top h1 {
    margin-bottom: 30px;
    font-size: 25px;
    color: #333;
    letter-spacing: 8px;
}

#Our-Services .content-services .top p {
    font-size: 15px;
    color: #000;
    text-align: center;
}

#Our-Services .content-services .cards-c-services {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}

#Our-Services .content-services .cards-c-services .card-offer {
    background-color: white;
    padding: 20px;
    -webkit-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    width: 260px;
    text-align: center;
    height: 350px;
}

#Our-Services .content-services .cards-c-services .card-offer img {
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#Our-Services .content-services .cards-c-services .card-offer h1 {
    font-size: 15px;
    letter-spacing: 5px;
    text-align: center;
}

#Our-Services .content-services .cards-c-services .card-offer p {
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.5;
    color: #000;
    width: 230px;
    text-align: center;
}

#Our-Services .content-services .cards-c-progressbars {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

#Our-Services .content-services .cards-c-progressbars .card-progresbars {
    background-color: white;
    padding: 0px 5px;
    -webkit-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    width: 260px;
    text-align: center;
    height: auto;
    flex-direction: column;
}

#Our-Services .content-services .cards-c-progressbars .card-progresbars .progresbar {
    margin-bottom: 15px;
    text-align: left;
}

#Our-Services .content-services .cards-c-progressbars .card-progresbars .progresbar h2 {
    margin-bottom: 5px;
    font-size: 15px;
}

#Our-Services .content-services .cards-c-progressbars .card-progresbars .progresbar .progres {
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    border-radius: 20px;
}

#progres-fill-ps {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 90%;
}

#progres-fill-ai {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 98%;
}

#progres-fill-id {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 70%;
}

#progres-fill-ui {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 97%;
}

#progres-fill-ux {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 85%;
}

#progres-fill-responsive {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 90%;
}

#progres-fill-html {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 98%;
}

#progres-fill-css {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 98%;
}

#progres-fill-js {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 75%;
}

#progres-fill-cpp {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 85%;
}

#progres-fill-java {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 90%;
}

#progres-fill-swift {
    height: 5px;
    border-radius: 20px;
    background-color: #ffe500;
    width: 85%;
}
#Stats{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    background-color: #1a1a1a; 
    width: 100vw;
    text-align: center;
}
#Stats .stats-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}
#Stats .stats-container .stat{
    background-color: white;
    padding: 0px 5px;
    -webkit-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 5px 24px -11px rgba(0, 0, 0, 0.5);
    width: 260px;
    text-align: center;
    height: auto;
    flex-direction: column;
}
#Stats .stats-container .stat h1{
    font-size: 12px;
    color: #333;
    margin: 0;
    padding: 10px 0 10px 0;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Montserrat';
}
#Stats .stats-container .stat h2{
    font-size: 10px;
    color: #000;
    margin: 0;
    padding-bottom: 15px;
    letter-spacing: 2px;
}
#Portfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    background-color: white;
    width: 100vw;
    text-align: center;
}
#Portfolio .portfolio-content .top img {
    margin-bottom: 10px;
    margin-top: 20px;
}
#Portfolio .portfolio-content .top h1 {
    margin-bottom: 30px;
    font-size: 25px;
    color: #333;
    letter-spacing: 8px;
}
#Portfolio .portfolio-content .top p {
    font-size: 15px;
    color: #000;
    text-align: center;
}
#Portfolio .info-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 80px;
}
#Portfolio .info-container img{
    height: 80px;
    width: auto;
}
#Portfolio .info-container .info{
    justify-content: center;
    align-items: center;
    display: flex;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    gap: 100px;
    width: 120%;
}
#Portfolio .info-container .info h1{
    font-size: 10px;
    color: #333;
    margin: 0;
    padding: 20px 0 20px 0;
    font-weight: bold;
    letter-spacing: 6px;
}
#Portfolio .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-top: 50px;
}
#Portfolio .gallery img{
    height: 320px;
    width: 250px;
    object-fit: cover;
    display: block;
}
#Portfolio .gallery .doe{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/Assets/vase.jpg');
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 320px;
}
#Portfolio .gallery .doe img{
    z-index: 1;
}
#Portfolio .gallery .doe .yellow{
    background-color: rgba(255, 229, 0, 0.85);
    padding: 40px 15px;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 75%;
}
#Portfolio .gallery .doe .normal{
    background-color: white;
    padding: 20px 35px;
    z-index: 3;
    text-align: center;
    width: 90%;
    height: 40%;
    position: absolute;
}
#Portfolio .gallery .doe .normal h1{
    font-size: 10px;
    color: #000;
    margin: 0 0 10px 0;
    font-weight: bold;
    letter-spacing: 3px;
}
#Portfolio .gallery .doe .normal p{
    font-size: 10px;
    color: #666;
    margin: 0;
    padding: 2px 0;
    line-height: 1.5;
    letter-spacing: 2px;
}