@font-face {
    font-family: 'Raleway';
    src: url('/fonts/Raleway/static/Raleway-ExtraLight.ttf');
}
* {
    box-sizing: border-box;
    font-family: 'Raleway';
}
body {
    margin: 0;
    background-color: #f0f0f0;
}
.header {
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    padding: 20px;
    color: yellow;
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
}
.header nav{
    display: flex;
    justify-content: center;
    align-items: right;
    gap: 20px;
    margin-right: 17vw;
}
.header nav a {
    color: #e6cf03;
    text-decoration: none;
    font-size: 12px;
    padding: 10px 15px;
    font-weight: 650;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
}
.header nav .submenu {
    display: none;
    text-decoration: none;
    
    background-color: #e6cf03;
    text-decoration: none;
    font-size: 12px;
    font-weight: 650;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    list-style: none;
}
.header nav .submenu li a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 8px 12px;
}
.header nav a:hover + .submenu{
    display: block;
    position: absolute;
    margin-top: 35px;
    padding: 10px;
    border-radius: 10px;
}
.header nav .submenu li a:hover {
    color: #333;
    background-color: #ffe500;
}
.header nav a:hover {
    color: #333;
    background-color: #ffe500;
}
.header img{
    padding-left: 19vw;
    height: 35px;
    width: auto;
}
#Home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
#Home .background img{
    width: 100%;
    height: auto;
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    z-index: -1;
}
#Home .home-content {
    color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40vh;
}
#Home .home-content h1 {
    font-size: 14px;
    margin: 0;
    font-weight: 0;
    letter-spacing: 14px;
    text-align: center;

}
#Home .home-content h2 {
    font-size: 8px;
    font-weight: 0;
    padding: 15px 0;
    letter-spacing: 5.2px;
    padding-left: 30px;
    text-align: center;
}
#Home .home-content a{
    text-decoration: none;
    color: #333;
    background-color: #ffe500;
    padding: 10px 25px;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 20px;
}

#Home .arrow,
.arrow:before{
  position: absolute;
  left: 50%;
}

.arrow{
  width: 40px;
  height: 40px;
  bottom: 20px;
  margin-left: -20px;
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
  transform: rotate(45deg);
  top: 83vh;
 }

  
.arrow:before{
  content: '';
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
@keyframes arrow
{
  0%{
    opacity: 1}
  100%{
    opacity: 0;
    transform: translate(-10px, -10px);
}
}